.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: orange;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}

.container nav a {
  color: orange;
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
}

.container img {
  width: 130px;
  padding: 0;
}

.container span {
  cursor: pointer;
  font-size: 20px;
}
