* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.orangeBtn {
  padding: 5px;
  border: 1px solid orange;
  color: white;
  background-color: orange;
  border-radius: 5px;
  padding: 7px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.inActive {
  color: orange !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
