.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px;
  padding: 20px;
  width: 20%;
  margin: 10px;
}

.select {
  padding: 10px;
  width: 200px;
}

.form input {
  padding: 10px;
  width: 200px;
  margin: 10px;
}
